:root{
    --color-1: #fff;
    --color-2: #C6B3FA;
    --color-3: #000000;
    --color-4: #70049b;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--color-1);
}

.Home,.manu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

.T1{
    text-align: justify;
    font-size: 100px;
    padding: 100px;
    color: var(--color-2);
}
   
.Home {
    background-color: var(--color-1);
    box-shadow: 1px 1px 100px var(--color-3);
    height: 300px;
    justify-content: space-between;
    border-radius: 40px;
    margin: 1px 0 0 0;
}

.manu{
    gap: 2cm;
}

.manu a{
    text-decoration: none;
    font-size: 40px;
    color: var(--color-1);
    transition: 1s;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

.manu a{
    background-color: var(--color-2);
    padding: 30px;
    border-radius: 10px;
}

.texto{
    display: flex;
    flex-direction: row;
    align-items: safe;
}

.texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-3);
    background-color: var(--color-2);
    font-size: 50px;
    padding: 200px 100px 300px 100px;
}

.texto{
 gap: 10cm;
}

.T2{
    margin: 60px;
    color: var(--color-1);
    font-size: 100PX;
}

.T3{
    text-align: center;
    color: var(--color-2);
    font-size: 100PX;
}

.T4{
    text-align: center;
}

.texto2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    padding: 200px 100px 300px 100px;
    margin: 10px 0px 0 0%;
}

.click1 a{
    text-decoration: none;
    text-align: right;
    font-size: 40px;
    color: var(--color-1);
    transition: 1s;
    font-weight: bold;
}

.click1 a{
    background-color: var(--color-2);
    padding: 30px;
    border-radius: 10px;
}

.click1{
    text-align: center;
    padding: 0 0 100px 0;
}



